---
import Layout from '../layouts/Layout.astro';
const {default:meData} = await import('../assets/me.json');
---

<Layout>

	<section>
	<h1 class="nombre">{meData.nombre}</h1>
	<h2 class="profesion">{meData.profesion}</h2>
	<h3 class="bio">{meData.bio}</h3>
	</section>

	<section>
		<h4>Experiencia:</h4>
		  {meData.experiencia.map((exp, index) => (
			<article class="experiencia">
				<h3 class="exp_titu">{exp.nombre}</h3>
				<p class="exp_descri">{exp.descripcion}</p>
				<h4 class="exp_fecha">{exp.fecha}</h4>
			</article>
		  ))}
	</section>
	
	<section>
		<h4>Habilidades:</h4>
		<div class="envoltura_habili">
	  {meData.habilidades.map((habilidad, index) => (
		<article class="habilidad">
			<p>{habilidad}</p>
		</article>
	  ))}
	  </div>
	</section>
	

  </Layout>
