---
import Layout from '../layouts/Layout.astro';
const {default:meData} = await import('../assets/me.json');
---

<Layout>
	<h1>{meData.nombre}</h1>
	<h2>{meData.profesion}</h2>
	<h3>{meData.bio}</h3>
	<h4>Experiencia:</h4>
	<ul>
	  {meData.experiencia.map((exp, index) => (
		<li>
		  <strong>{exp.nombre}</strong>: {exp.descripcion} ({exp.fecha})
		</li>
	  ))}
	</ul>
	<h4>Habilidades:</h4>
	<ul>
	  {meData.habilidades.map((habilidad, index) => (
		<li>{habilidad}</li>
	  ))}
	</ul>
  </Layout>
