---
import Layout from '../layouts/Layout.astro';
const {default:meData} = await import('../assets/me.json');
---

<Layout>

	<section>
	<h1>{meData.nombre}</h1>
	<h2>{meData.profesion}</h2>
	<h3>{meData.bio}</h3>
	</section>

	<section>
		<h4>Experiencia:</h4>
		  {meData.experiencia.map((exp, index) => (
			<article class="experiencia">
				<h5>{exp.nombre} | {exp.fecha}</h6>
				<p>{exp.descripcion}</p>	
			</article>
		  ))}
	</section>
	
	<section>
		<h4>Habilidades:</h4>
	  {meData.habilidades.map((habilidad, index) => (
		<article>{habilidad}</article>
	  ))}
	</section>
	

  </Layout>
